*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

.rooms {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.rooms__image {
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100vh;
  -webkit-filter: brightness(60%);
          filter: brightness(60%);
  z-index: 5;
}

.rooms__h {
  font-family: 'Raleway', sans-serif;
  font-size: 20rem;
  z-index: 10;
  position: absolute;
  color: rgba(0, 0, 0, 0.5);
  top: 52%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin-bottom: 0;
  font-weight: 800;
  letter-spacing: 50px;
  text-transform: uppercase;
}

.rooms__para {
  font-family: 'Raleway', sans-serif;
  margin-top: 0;
  z-index: 10;
  font-size: 4rem;
  position: absolute;
  color: white;
  top: 57%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-weight: 100;
}

.rooms__scroll {
  font-family: 'Raleway', sans-serif;
  position: absolute;
  z-index: 10;
  top: 90%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
}

.rooms__arrow {
  font-family: 'Raleway', sans-serif;
  position: absolute;
  z-index: 10;
  top: 93%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  font-size: 1rem;
}

.section {
  min-height: 100vh;
}

@-webkit-keyframes reveal {
  0% {
    width: 0%;
    height: 0%;
  }
  30% {
    width: 100px;
    height: 0%;
  }
  60% {
    width: 100px;
    height: 60px;
  }
  80% {
    width: 100px;
    height: 60px;
  }
  100% {
    width: 100px;
    height: 60px;
  }
}

@keyframes reveal {
  0% {
    width: 0%;
    height: 0%;
  }
  30% {
    width: 100px;
    height: 0%;
  }
  60% {
    width: 100px;
    height: 60px;
  }
  80% {
    width: 100px;
    height: 60px;
  }
  100% {
    width: 100px;
    height: 60px;
  }
}

.navbar {
  z-index: 20;
  position: relative;
}

.nav {
  position: relative;
}

.nav__list {
  list-style: none;
  position: absolute;
  right: 0;
  margin-right: 10rem;
  margin-top: 2rem;
}

.nav__item {
  display: inline-block;
  padding: 2rem;
  -webkit-transition: after 10s;
  transition: after 10s;
}

.nav__link {
  font-family: 'Raleway', sans-serif;
  color: white;
  text-decoration: none;
  position: relative;
  padding: .5rem;
  display: inline-block;
  letter-spacing: 1px;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  font-size: 1.1rem;
  overflow: hidden;
  -webkit-box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.5);
}

.nav__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  opacity: 1;
  background: white;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform: rotate(50deg) translateY(-28px);
          transform: rotate(50deg) translateY(-28px);
}

.nav__link:hover::before {
  -webkit-transform: rotate(50deg) translateY(120px);
          transform: rotate(50deg) translateY(120px);
}

.nav__link:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.display {
  position: relative;
  min-height: 100vh;
}

.display-1 {
  margin-top: 20%;
  position: absolute;
  background: wheat;
  width: 100%;
  height: 50%;
}

.display-1__content {
  position: absolute;
  padding-left: 2rem;
  width: 30rem;
  top: 20%;
  left: 2%;
}

.display-1__content-h {
  color: black;
  margin-bottom: 10px;
  -webkit-transition-delay: 2s;
          transition-delay: 2s;
  padding-left: 2rem;
  padding-top: .5rem;
}

.display-1__content-p {
  color: black;
  -webkit-transition-delay: 10s;
          transition-delay: 10s;
  margin-top: 2rem;
}

.display-1__btn {
  position: absolute;
  bottom: 10px;
  left: 15rem;
  text-decoration: none;
  color: white;
  background: black;
  padding: .8rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  -webkit-transition: color 1s,background-color 1s,-webkit-transform 1s ,-webkit-box-shadow .5s;
  transition: color 1s,background-color 1s,-webkit-transform 1s ,-webkit-box-shadow .5s;
  transition: color 1s,background-color 1s,transform 1s ,box-shadow .5s;
  transition: color 1s,background-color 1s,transform 1s ,box-shadow .5s,-webkit-transform 1s ,-webkit-box-shadow .5s;
  -webkit-box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.display-1__btn:hover {
  color: black;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-box-shadow: 0rem 1rem 1rem rgba(0, 0, 0, 0.5);
          box-shadow: 0rem 1rem 1rem rgba(0, 0, 0, 0.5);
}

.display-1__btn::before {
  z-index: -1;
  content: '';
  position: absolute;
  background: white;
  width: 101%;
  height: 101%;
  top: -1%;
  left: -1%;
  -webkit-clip-path: circle(0px);
          clip-path: circle(0px);
  -webkit-transition: -webkit-clip-path 1s;
  transition: -webkit-clip-path 1s;
  transition: clip-path 1s;
  transition: clip-path 1s, -webkit-clip-path 1s;
}

.display-1__btn:hover::before {
  -webkit-clip-path: circle(70px);
          clip-path: circle(70px);
}

.display__image {
  position: absolute;
  top: -10px;
  right: 30px;
  width: 600px;
  height: 400px;
}

.section {
  overflow: hidden;
  min-height: 450vh;
  position: relative;
}

.first {
  font-size: 4rem;
  z-index: 50;
  position: absolute;
}

.pre {
  font-size: 4rem;
  position: absolute;
  left: -8px;
  top: -3px;
  z-index: 50;
}

.sig {
  left: -10px;
  top: -2px;
  font-size: 4rem;
  position: absolute;
  z-index: 50;
}

.satin {
  font-size: 4rem;
  position: absolute;
  z-index: 50;
  left: -10px;
  top: -2px;
}
/*# sourceMappingURL=rooms.css.map */